<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img width="40" [routerLink]="['/Home']" alt="Logo" style="margin-left: 10px;" src="../assets/img/stefanini.png" />
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Search']">Search</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>