<div class="row">
    <div class="col-md-12">
        <h1>Add person phone:</h1>
    </div>
    <div class="col-md-12">
        <form #form="ngForm">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text">
                        Phone:*
                    </span>
                </div>
                <input class="form-control" type="tel" name="PhoneNumber" ngModel />
            </div>
            <button (click)="addPersonNumber(form.value)" class="btn btn-success" style="float:right;margin-top:5px;">Add</button>
        </form>
    </div>
</div>
<h1>Person phone list:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="3">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data.item">
            <th>{{item.PhoneNumber}}</th>
            <th><button [routerLink]="['/editPhone']" [queryParams]="{ PhoneNumberTypeID:item.PhoneNumberTypeID,BusinessEntityID: item.BusinessEntityID}" class="btn btn-warning">Edit</button></th>
            <th><button (click)="delPersonNumber(item.PhoneNumberTypeID,item.BusinessEntityID)" class="btn btn-danger">Delete</button></th>
        </tr>
    </tbody>
</table>