<div class="row">
    <div class="col-md-12">
        <h1>Phone Number Type:</h1>
    </div>
    <div class="col-md-12">
        <form #form="ngForm">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text">
                        Type:*
                    </span>
                </div>
                <input type="text" name="Name" class="form-control" ngModel/>
            </div>
            <button (click)="addPhoneNumberType(form.value)" class="btn btn-success" style="float:right;margin-top:5px;">Add</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="3">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data.item">
            <th>{{item.Name}}</th>
            <th><button [routerLink]="['/editName']" [queryParams]="{ PhoneNumberTypeID:item.PhoneNumberTypeID}" class="btn btn-warning">Edit</button></th>
            <th><button (click)="delPhoneNumberType(item.PhoneNumberTypeID)" class="btn btn-danger">Delete</button></th>
            <th><button class="btn btn-primary" [routerLink]="['/phoneList']" [queryParams]="{ PhoneNumberTypeID: item.PhoneNumberTypeID }">Phone List</button></th>
        </tr>
    </tbody>
</table>